.texteCentre{
    text-align: center;
}

.deconnexion{
    color: red;
}

/*MenuSalles:hover {
    transition: transform 300ms ease-in-out;
    transform: translate(0px, 100px);
    position: absolute;
}*/

.menu {
    border: solid 1px;
}

.tableCentree {
    margin: auto;
}

.referencePosition {
    /*position: relative;*/
    /*text-align: center;*/
}

.divFlottante {
    /*position: absolute;*/
    color: gray;
    font-size: 3vw;
}

/*.gauche {
    margin-left: 20%;
}

.droite {
    margin-left: 60%;
}*/

.tableauxSalle {
    /*position: absolute;*/
    /*margin: auto;*/
    /*margin-top: 20%;*/
    font-size: 2vw;
}

td {
    /*border: solid 1px;*/
}

.enteteTableau > thead {
    background-color: rgba(46, 228, 252, 0.637);
    border: solid 1px rgba(46, 228, 252, 0.637);
}

#materiel > thead {
    background-color: rgba(46, 228, 252, 0.637);
    border: solid 1px rgba(46, 228, 252, 0.637);
}

#reservation > thead {
    background-color: orange;
    border: solid 1px orange;
}

ul {
    list-style-type: none;
}

Message {
    font-size: 1vw;
}