#boite1 {
    background-color: red;
    border: solid blue;
    width: 150px;
    height: 150px;
}

#boite2 {
    background-color: blue;
    border: solid white;
    width: 100px;
    height: 100px;
    left: 25px;
    top: 30px;
}

#boite3 {
    background-color: yellow;
    border: solid red;
    width: 150px;
    height: 150px;
    left: 35px;
    top: 60px;
}

#boite4 {
    background-color: gold;
    border: solid green;
    width: 70px;
    height: 70px;
    left: 20px;
    top: 50px;
    z-index: 1;
}

#boite5 {
    background-color: lawngreen;
    border: solid indigo;
    width: 80px;
    height: 70px;
    left: 10px;
    top: 70px;
    z-index: 1;
}

#boite6 {
    background-color: red;
    border: solid blue;
    width: 80px;
    height: 80px;
    right: 15px;
    top: 20px;
    background-clip: inherit;
}

div {
    position: absolute;
}