/* Exercice 1 */

#image {
    position: relative;
    height: 50px;
    border: solid blue;
}

#imagePhoto {
    position: absolute;
}

#photo {
    border: solid white;
    position: absolute;
}

/* Exercice 2 */

#zone {
    width: 200px;
    height: 200px;
    background-color: salmon;
    position: relative;
}

#carre{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    margin: 37%;
}

#gauche {
    background-image: url("../icons/arrow-left.svg");
    width: 20px;
    height: 20px;
}
#haut {
    background-image: url("../icons/arrow-up.svg");
    width: 20px;
    height: 20px;
}
#droite {
    background-image: url("../icons/arrow-right.svg");
    width: 20px;
    height: 20px;
}
#bas {
    background-image: url("../icons/arrow-down.svg");
    width: 20px;
    height: 20px;
}

/* Exercice 3 */

#canevas {
    background-color: red;
}


/* Exercice 4 */

#exo4{
    position: relative;
    z-index: 1;
}

#photoclasse {
    position: absolute;
    z-index: 1;
}

#cacher {
    position: absolute;
    z-index: 2;
    height: 500px;
    width: 1000px;
}


/* Exercice 11 */

th {
    border: solid black 2px;
    text-align: center;
}

td {
    border: solid black 1px;
}

#cn {
    color: crimson;
}